@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Something Happened...</h1>
<h2 class="text-danger">
    An error occurred while processing your request. <br />
    We are working to correct this issue.
</h2>
<p>Contact support for further information. <a asp-action="Index" asp-controller="Home" class="ml-2 btn-link">Return Home &rarr;</a></p>