@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Welcome!";
}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>Welcome!</h1>
        </div>
        <div class="col-12">
            @if (Model != null && Model.Any())
            {
                <h4>Check out our latest products!</h4>

                <div class="row">
                @foreach(var product in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@product.Name</a>
                                </h4>
                                <h5>@product.ListPrice.ToString("c")</h5>
                                <p class="card-text">
                                    Model: @product.ProductModel.Name
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    @if (!product.ProductReviews.Any())
                                    {
                                        <small class="text-muted">No Reviews Yet</small>
                                    }
                                    else
                                    {
                                        @Html.ReviewStars(product.AverageRating);
                                    }
                                </small>
                            </div>
                        </div>
                    </div>
                }
                </div>

                <div class="row">
                    <div class="col-12">
                        <h4>
                            Or view all of our amazing products! <br/>
                            <a asp-action="Index" asp-controller="Products" class="btn btn-primary">
                                Check it out &rarr;
                            </a>
                        </h4>
                    </div>
                </div>
            }
            else
            {
                <h4>No products to show yet... Please check back!</h4>
            }



        </div>
        

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->